.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &-item {
    display: flex;
    min-height: 2rem;
    margin: 1rem;
    width: 30rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &-text {
      padding: 0;
      margin: 0;
    }
  }
}
.mat-card {
  background: #f9f5f5;
}

.btn-logout {
  margin: 1rem;
}
