.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  &-item {
    display: flex;
    min-height: 8rem;
    margin: 2rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.mat-card {
  background: #f9f5f5;
}
.mat-button {
  background: #ccc;
}
.btn-logout {
  margin: 1rem;
}
