
    <div class="signin-content" *ngIf="form">
      <form [formGroup]="form" (submit)="signin()">
        <mat-card class="signin-content-form">
          <p class="signin-content-logo">Sign in to continue</p>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" />
            <mat-error *ngIf="getField('email').errors?.required"
              >Email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" />
            <mat-error *ngIf="getField('password').errors?.required"
              >Password is required
            </mat-error>
          </mat-form-field>
      
          <button type="submit" mat-button class="btn">Sign In</button>
          <p class="signin-content-signin">
            Dont have an account ? <a routerLink="/signup">Sign up</a>
          </p>
  
        </mat-card>
      </form>
    </div>

  